//  ================================================================================================
//  Override global styles here.
//  ================================================================================================
$primary: #359778;
$secondary: #e0e0e0;
$accent: #b2dfdb;
$info: #3f51b5;
$success: #26c6da;
$warning: #ff6f00;
$danger: #303f9f;
$dark: #00684c;
$light: #b2dfdb;
$black: #212121;
$white: #fff;
$body: #F2F4F8;
