# Builds
node_modules

# Test Artifacts
/tests/e2e/videos/
/tests/e2e/screenshots/

# ENV
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.archive
*.bk
.DS_Store
