// ================================================================================================
//     File Name: Footer.scss
//     Description: *  Main footer styles.
//     ----------------------------------------------------------------------------------------------
//     Item Name: Sprout  - Vuejs
//     Author: PIXINVENT
//     Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

// Stick footer to the bottom of the page
footer {
	&.footer {
		min-height: $footer-height;
		padding: 0.8rem $content-padding;

		// heart icon scss
		span {
			i,
			svg {
				color: $danger;
				font-size: 1.51rem;
				height: 1.51rem;
				margin-left: 0.5rem;
				width: 1.51rem;
			}
		}

		.scroll-top {
			padding: 0.81rem 0.83rem;
		}
	}

	//shadow & border options
	&.footer-shadow {
		box-shadow: $box-shadow;
	}

	&.footer-border {
		border-top: 1px solid $border-color;
	}
}

// Fixed Footer
.footer-fixed {
	footer {
		bottom: 0;
		left: 0;
		position: fixed !important;
		right: 0;
		z-index: 1030;

		// Footer Light
		&.footer-light {
			background: $white;
			box-shadow: $box-shadow;
		}

		// Footer Dark
		&.footer-dark {
			background: $gray-600;
			color: $white;
		}
	}
}

// scroll to Top Footer Button
.scroll-top {
	bottom: 5%;
	display: none;
	position: fixed;
	right: 30px;
	z-index: 99;
}
