/*=========================================================================================
	File Name: horizontal-menu.scss
	Description: A classic horizontal menu for easy navingation & support all devices.
	It support light & dark version, filpped layout, right side icons, borders menu for
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Sprout  - VuejsTheme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import '../../../bootstrap-extended/include';
// Bootstrap includes
@import '../../../components/include';
// Components includes

// Import first main menu mixin
@import '../../mixins/main-menu-mixin';

// Horizontal Menu
//=========================
.horizontal-menu {
	// Content Area margin
	.content {
		margin-left: 0;

		&.show-overlay {
			.inbox-content-overlay {
				z-index: 998 !important;
			  	display: none;
			}
		}
	}

	// Navbar container spacing for all
	.navbar.header-navbar {
		.navbar-container {
			padding: 0.8rem #{$content-padding};
		}
	}

	.horizontal-menu-wrapper {
		.header-navbar {
			min-height: $horizontal-menu-height;
		}
	}

	footer {
		position: static;
	}

	//---------------//
	// Navbar Header //
	//---------------//
	.horizontal-menu-wrapper {
		position: fixed;
		top: 62px;
		width: 100%;
		z-index: 990;

		.header-navbar {
			.navbar-container {
				padding: 0 1rem;
				width: 100%;
			}

			.navbar-header {
				display: none;
			}
		}
	}

	.header-navbar {
		background: $white;
		line-height: 1;
		min-height: auto;
		z-index: 999 !important;
		// Navbar- Brand Center - Logo
		&.navbar-horizontal.floating-nav {
			background: $white;
			width: calc(100vw - (100vw - 100%) - calc(#{$content-padding} * 2));
		}

		.navbar-container {
			border-radius: $border-radius;
		}

		&.navbar-fixed {
			position: fixed;
			width: 100%;
		}

		&.navbar-brand-center {
			.navbar-header {
				left: calc(50% - 56px); // left 50% - branding width
				padding: 0;
				position: absolute;
				z-index: 1000;

				.navbar-brand {
					align-items: center;
					display: flex;
					font-size: inherit;
					margin-right: 0;

					.brand-logo img {
						max-width: 36px;
					}

					// Brand Text Scss
					.brand-text {
						color: $primary;
						font-size: 1.45rem;
						font-weight: 600;
						letter-spacing: 0.01rem;
						margin-bottom: 0;
						padding-left: 1rem;
					}
				}
			}
		}

		&.navbar-horizontal {
			.nav-link {
				&.dropdown-toggle {
					&::after {
						background-image: url(str-replace(str-replace($chevron-down, 'currentColor', $body-color), '#', '%23'));
						left: 0.4rem;
					}
				}
			}

			.sidebar-group-active {
				.dropdown-toggle {
					&::after {
						background-image: url(str-replace(str-replace($chevron-down, 'currentColor', $white), '#', '%23'));
					}
				}
			}

			.dropdown-menu::before {
				display: none;
			}

			.dropdown-menu {
				border: none;
				margin-top: 0;
				min-height: 52px;
				min-width: 215px;

				.disabled {
					pointer-events: none !important;

					a {
						color: $gray-600;
					}
				}

				.dropdown-toggle::after {
					// content: '\e844' !important;
					background-image: url(str-replace(str-replace($chevron-right, 'currentColor', $body-color), '#', '%23'));
					left: auto;
					margin-top: -7px;
					position: absolute;
					right: 1rem;
					top: 50%;
				}

				.dropdown-item {
					align-items: center;
					display: flex;
					font-size: 1rem;
					padding-bottom: 0.68rem;
					padding-top: 0.68rem;
				}

				.dropdown-submenu {
					position: relative;

					&.openLeft {
						.dropdown-menu {
							left: auto !important;
							right: 100% !important;
						}
					}

					&.sidebar-group-active {
						background: $body-bg;
					}

					& > .dropdown-menu {
						left: 100% !important;
						position: absolute;
						top: 0 !important;

						i,
						svg {
							font-size: 11px !important;
							height: 11px !important;
							width: 11px !important;
						}
					}
				}
			}

			ul#main-menu-navigation > li {
				padding-bottom: 0.857rem;
				padding-top: 0.857rem;

				> .dropdown-menu {
					a {
						& > * {
							transition: all 0.2s ease;
						}

						&:hover {
							background-color: transparent;
							color: $body-color;

							& > * {
								transform: translateX(5px);
								transition: transform 0.2s ease;
							}
						}
					}

					.active > a {
						background: $body-bg;
						color: $primary;
						font-weight: 500;
					}

					.open {
						&.active {
							> a {
								color: $body-color;
								font-weight: normal;
							}
						}
					}
				}

				i,
				svg {
					font-size: 1.2rem;
					height: 17px;
					margin-right: 0.5rem;
					width: 17px;
				}

				> a {
					display: flex;
					margin-right: 0.715rem;
					padding: 0.715rem 1.25rem;
				}

				&:hover {
					> a {
						background: $body-bg;
						border-radius: 4px;
					}
				}

				&.active {
					> a {
						background: linear-gradient(118deg, rgba($primary, 1), rgba($primary, 0.7));
						border-radius: 4px;
						box-shadow: 0 0 6px 1px rgba($primary, 0.6);
						color: $white;
					}
				}
			}
		}
	}

	.navigation-header {
		color: #929292;
		font-family: inherit;
		font-size: 1rem;
		padding: 8px 20px;
		text-transform: uppercase;
	}

	.navbar-dark {
		.nav-item {
			&.active > a {
				background-color: #313c50;
				border-bottom: 2px solid $primary;
			}
		}
	}
}

.horizontal-layout {
	// navbar floating
	&.navbar-floating {
		// Horizontal layout navbar shadow position and height fix
		.header-navbar-shadow {
			height: 80px;
		}

		@include media-breakpoint-up(xl) {
			.header-navbar-shadow {
				top: 45px;
			}
		}

		&:not(.blank-page) {
			.inbox-app-content {
				// padding-top: 9.75rem;
				padding: calc(#{$content-padding} + #{$navbar-height} * 2 + #{$floating-nav-margin}) #{$content-padding} 0 #{$content-padding}; // * 2  as we have 2 navbar (menu + navbar)  in horizontal layout.
			}
		}

		.horizontal-menu-wrapper {
			background: linear-gradient(to bottom,
			rgba(248, 248, 248, 0.95) 44%,
			rgba(248, 248, 248, 0.46) 73%,
			rgba($white, 0) 100%);
			background-repeat: repeat-x;

			.navbar-horizontal.floating-nav {
				margin: $floating-nav-margin $content-padding 0;
			}
		}

		// App content area wrapper height
		&.footer-static {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          #{$footer-height},
                          #{$floating-nav-margin},
                          #{$horizontal-menu-height},
                          1,
                  $horizontalLayout: true
          );
				}
			}
		}

		&.footer-hidden {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          0,
                          #{$floating-nav-margin},
                          #{$horizontal-menu-height},
                          2,
                  $horizontalLayout: true
          );
				}
			}
		}

		&.footer-fixed {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          #{$footer-height},
                          #{$floating-nav-margin},
                          #{$horizontal-menu-height},
                          2,
                  $horizontalLayout: true
          );
				}
			}
		}
	}

	// navbar sticky
	&.navbar-sticky {
		.inbox-app-content {
			padding: calc(#{$content-padding} + #{$navbar-height} * 2) #{$content-padding} 0 #{$content-padding};
		}

		.header-navbar {
			background-color: $body-bg;
			box-shadow: none;
		}

		.horizontal-menu-wrapper {
			.navbar-horizontal.header-navbar.fixed-top {
				background-color: $white;
				box-shadow: 0 4px 24px 0 rgba($black, 0.1);
				left: 0;
				top: 62px;
			}
		}

		// App content area wrapper height
		&.footer-static {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          #{$footer-height},
                          0,
                          #{$horizontal-menu-height},
                          1,
                  $horizontalLayout: true
          );
				}
			}
		}

		&.footer-hidden {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          0,
                          0,
                          #{$horizontal-menu-height},
                          2,
                  $horizontalLayout: true
          );
				}
			}
		}

		&.footer-fixed {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          #{$footer-height},
                          0,
                          #{$horizontal-menu-height},
                          2,
                  $horizontalLayout: true
          );
				}
			}
		}
	}

	// navbar static
	&.navbar-static {
		.inbox-app-content {
			padding: calc(#{$content-padding} + #{$horizontal-menu-height}) #{$content-padding} 0 #{$content-padding};
		}

		.content {
			min-height: calc(100% - calc(#{$horizontal-menu-height} + calc(#{$footer-height} + 0.2rem)));
		}

		.header-navbar {
			background-color: $body-bg;
			box-shadow: none;
		}

		.horizontal-menu-wrapper {
			position: relative;

			.navbar-horizontal.header-navbar {
				background: $white;
				// ? Added for angular fix as it adds this class to navbar in hz layout
				&.navbar-static-top {
					left: 0;
					width: 100%;
				}
			}
		}

		// App content area wrapper height
		&.footer-static {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          calc(#{$footer-height} + 0.2rem),
                          0,
                          #{$horizontal-menu-height},
                          1,
                  $horizontalLayout: true
          );
				}
			}
		}

		&.footer-hidden {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          0,
                          0,
                          #{$horizontal-menu-height},
                          2,
                  $horizontalLayout: true
          );
				}
			}
		}

		&.footer-fixed {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						#{$navbar-height},
                          #{$footer-height},
                          0,
                          #{$horizontal-menu-height},
                          2,
                  $horizontalLayout: true
          );
				}
			}
		}
	}

	// navbar Hidden
	&.navbar-hidden {
		&.footer-static {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						0,
                          #{$footer-height},
                          0,
                          #{$horizontal-menu-height},
                          1,
                  $horizontalLayout: true
          );
				}
			}
		}

		&.footer-hidden {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						0,
                          0,
                          0,
                          #{$horizontal-menu-height},
                          2,
                  $horizontalLayout: true
          );
				}
			}
		}

		&.footer-fixed {
			.inbox-app-content {
				.content-area-wrapper,
				.kanban-wrapper {
					@include content-area-wrapper-height(
						#{$content-padding},
						0,
                          #{$footer-height},
                          0,
                          #{$horizontal-menu-height},
                          2,
                  $horizontalLayout: true
          );
				}
			}
		}
	}

	&.vertical-overlay-menu {
		#main-menu-navigation {
			> li {
				> ul {
					> li {
						> a {
							i,
							svg {
								font-size: 1rem;
								height: 1rem;
								width: 1rem;
							}
						}
					}
				}
			}
		}
	}
}

// Initially menu & content width for md and down screen
@include media-breakpoint-down(lg) {
	.horizontal-layout {
		&.horizontal-menu {
			.horizontal-menu-wrapper {
				.header-navbar {
					display: none;
				}
			}
		}

		.header-navbar {
			background: $white;
		}

		.inbox-app-content {
			padding: calc(#{$navbar-height} + calc(#{$content-padding} - 0.8rem)) calc(#{$content-padding} - 0.8rem) 0 calc(#{$content-padding} - 0.8rem) !important;
		}
	}
}

@include media-breakpoint-down(xs) {
	// For static navbar
	html body.horizontal-layout.navbar-static .inbox-app-content {
		padding: calc(#{$content-padding} - 0.8rem + #{$navbar-height}) calc(#{$content-padding} - 0.8rem) 0 calc(#{$content-padding} - 0.8rem) !important; // - 0.8rem to reduce padding in small screen
	}
}

// Import vertical-overlay-menu.scss for small screen support
@import 'vertical-overlay-menu.scss';