// =========================================================================================
//   File Name: avatar.scss
//   Description: Avatar style.

// Component: Avatar
// ========================================================================

// avatar

.avatar {
	background-color: $avatar-bg;
	border-radius: 50%;
	color: $white;
	cursor: pointer;
	display: inline-flex;
	font-size: 1rem;
	font-weight: 600;
	position: relative;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	// avatar content
	.avatar-content {
		align-items: center;
		border-radius: 50%;
		display: flex;
		font-size: 0.857rem;
		height: $avatar-size;
		justify-content: center;
		width: $avatar-size;

		.avatar-icon {
			height: 1rem;
			width: 1rem;
		}
	}

	[class*='avatar-status-'] {
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		bottom: 0;
		height: $avatar-status-size;
		position: absolute;
		right: 0;
		width: $avatar-status-size;

		&.avatar-status-lg,
		&.avatar-status-xl {
			border-width: 2px;
			height: $avatar-status-size-lg;
			width: $avatar-status-size-lg;
		}
	}

	.avatar-status-online {
		background-color: $success;
	}

	.avatar-status-busy {
		background-color: $danger;
	}

	.avatar-status-away {
		background-color: $warning;
	}

	.avatar-status-offline {
		background-color: $secondary;
	}

	// avatar label with basic size
	// using in FAQ & other pages
	&.avatar-tag {
		align-items: center;
		border-radius: $border-radius;
		display: flex;
		height: 42px;
		justify-content: center;
		width: 42px;
	}

	// avatar img
	img {
		border-radius: 50%;
	}

	// Size Modifier
	// ========================================================================

	&.avatar-xl {
		font-size: 1.5rem;

		img {
			height: $avatar-size-xl;
			width: $avatar-size-xl;
		}

		.avatar-content {
			font-size: 2.57rem;
			height: $avatar-size-xl;
			width: $avatar-size-xl;

			.avatar-icon,
			i,
			svg {
				font-size: 3rem;
				height: 3rem;
				width: 3rem;
			}
		}

		[class*='avatar-status-'] {
			bottom: 0;
			right: 3px;
		}
	}

	&.avatar-lg {
		font-size: 1.2rem;

		img {
			height: $avatar-size-lg;
			width: $avatar-size-lg;
		}

		.avatar-content {
			font-size: 1.714rem;
			height: $avatar-size-lg;
			width: $avatar-size-lg;

			.avatar-icon,
			i,
			svg {
				font-size: 2rem;
				height: 2rem;
				width: 2rem;
			}
		}

		[class*='avatar-status-'] {
			bottom: 1px;
			right: 3px;
		}
	}

	&.avatar-sm {
		.avatar-content {
			height: $avatar-size-sm;
			width: $avatar-size-sm;

			.avatar-icon,
			i,
			svg {
				font-size: 1rem;
				height: 1rem;
				width: 1rem;
			}
		}

		img {
			height: $avatar-size-sm;
			width: $avatar-size-sm;
		}

		[class*='avatar-status-'] {
			bottom: -2px;
			right: -3px;
		}
	}
}

// Avatar Group SCSS
.avatar-group {
	display: flex;
	justify-content: flex-start;

	.avatar {
		transition: all 0.25s ease;

		img,
		.avatar-content {
			box-shadow: 0 0 0 2px $avatar-group-border, inset 0 0 0 1px rgba($black, 0.07);
		}

		.avatar-content {
			background-color: lighten(theme-color('secondary'), 20%) !important;
		}

		&:hover {
			transition: all 0.25s ease;
		}

		&.pull-up:hover {
			transform: translateY(-4px) scale(1.07);
		}
	}
	// Avatar Group Sizings
	.avatar:not(:first-child) {
		margin-left: -0.55rem;
	}

	.avatar-sm:not(:first-child) {
		margin-left: -0.4rem;
	}

	.avatar-lg:not(:first-child) {
		margin-left: -1rem;
	}

	.avatar-xl:not(:first-child) {
		margin-left: -1.5rem;
	}
}
