// =========================================================================================
//   File Name: timeline.scss
//   Description: Timeline style.
//   ----------------------------------------------------------------------------------------
//   Item Name: Sprout  - Vuejs
//   Author: PIXINVENT
//   Author URL: http://www.themeforest.net/user/pixinvent
// ==========================================================================================

// Component: Timeline
// ========================================================================

.timeline {
	list-style: none;
	margin-bottom: 0;
	margin-left: 1rem;
	padding: 0;

	// Timeline Item
	.timeline-item {
		border-left: 1px solid $timeline-border-color;
		padding-left: 2.5rem;
		position: relative;

		&:not(:last-child) {
			padding-bottom: 1.8rem;
		}

		// Timeline Point
		.timeline-point {
			align-items: center;
			background-color: $white;
			border: 1px solid $timeline-point-indicator-color;
			border-radius: 50%;
			display: flex;
			height: $timeline-point-size;
			justify-content: center;
			left: -0.85rem;
			position: absolute;
			text-align: center;
			top: 0;
			width: $timeline-point-size;
			z-index: 2;

			// Timeline Point Indicator
			&.timeline-point-indicator {
				background-color: $timeline-point-indicator-color;
				border: 0;
				height: $timeline-point-indicator-size;
				left: -0.412rem;
				top: 0.07rem;
				width: $timeline-point-indicator-size;

				&::before {
					background: rgba($color: $timeline-point-indicator-color, $alpha: 0.12);
					border-radius: 50%;
					content: '';
					display: block;
					height: $timeline-point-indicator-wrapper-size;
					left: -0.285rem;
					position: absolute;
					top: -0.285rem;
					width: $timeline-point-indicator-wrapper-size;
				}
			}

			// Icons
			i,
			svg {
				color: $timeline-point-indicator-color;
				font-size: $timeline-item-icon-font-size;
				vertical-align: baseline;
			}
		}

		.timeline-event {
			min-height: $timeline-item-min-height;
			position: relative;
			width: 100%;
			// background-color: transparent;

			.timeline-event-time {
				color: $timeline-event-time-color;
				font-size: $timeline-event-time-size;
			}
		}

		&:last-of-type {
			border-left-color: transparent !important;

			&::after {
				background: linear-gradient($border-color, transparent);
				bottom: 0;
				content: '';
				height: 100%;
				left: -1px;
				position: absolute;
				width: 1px;
			}
		}
	}
}
