// Overrides user _variables-components
@import '../../@core/scss/base/bootstrap-extended/_include.scss';

.chat-navbar .feather, .chat-navbar button, .chat-navbar button .text-body.feather, {
  color: rgba(0,0,0,0.1)
}

.bg-secondary .btn.btn-light {
  color: rgba(114, 114, 114, 0.75);
  background: rgb(239, 241, 243);
  border: rgb(239, 241, 243);
}

.bg-secondary .btn.btn-light:Hover, .bg-secondary .btn.btn-light:Active {
  color: rgba(114, 114, 114, 0.75);
  background: rgba(0, 0, 0, .025);
  border: rgba(0, 0, 0, .025);
}

$black-color: (
		'base': #212121
);
$dark-color: (
		'base': #373737,
		'darken-1': #343434,
		'darken-2': #1e1e1e,
		'darken-3': #626262
);
$light-color: (
		'base': #EFF1F3
);

$primary-color: (
		'lighten-5': lighten(#009688, 25%),
		'lighten-4': lighten(#009688, 20%),
		'lighten-3': lighten(#009688, 15%),
		'lighten-2': lighten(#009688, 10%),
		'lighten-1': lighten(#009688, 5%),
		'base': #009688,
		'darken-1': darken(#009688, 5%),
		'darken-2': darken(#009688, 10%),
		'darken-3': darken(#009688, 15%),
		'darken-4': darken(#009688, 20%),
		'accent-1': #e0f2f1,
		'accent-2': #b2dfdb,
		'accent-3': #80cbc4,
		'accent-4': #4db6ac,
		'accent-5': #26a69a
);
$secondary-color: (
		'lighten-5': lighten(#bdbdbd, 25%),
		'lighten-4': lighten(#bdbdbd, 20%),
		'lighten-3': lighten(#bdbdbd, 15%),
		'lighten-2': lighten(#bdbdbd, 10%),
		'lighten-1': lighten(#bdbdbd, 5%),
		'base': #bdbdbd,
		'darken-1': darken(#bdbdbd, 5%),
		'darken-2': darken(#bdbdbd, 10%),
		'darken-3': darken(#bdbdbd, 15%),
		'darken-4': darken(#bdbdbd, 20%)
);
$success-color: (
		'lighten-5': lighten(#03a9f4, 25%),
		'lighten-4': lighten(#03a9f4, 20%),
		'lighten-3': lighten(#03a9f4, 15%),
		'lighten-2': lighten(#03a9f4, 10%),
		'lighten-1': lighten(#03a9f4, 5%),
		'base': #03a9f4,
		'darken-1': darken(#03a9f4, 5%),
		'darken-2': darken(#03a9f4, 10%),
		'darken-3': darken(#03a9f4, 15%),
		'darken-4': darken(#03a9f4, 20%),
		'accent-1': #e1f5fe,
		'accent-2': #b3e5fc,
		'accent-3': #81d4fa,
		'accent-4': #4fc3f7
);
$info-color: (
		'lighten-5': lighten(#5e35b1, 25%),
		'lighten-4': lighten(#5e35b1, 20%),
		'lighten-3': lighten(#5e35b1, 15%),
		'lighten-2': lighten(#5e35b1, 10%),
		'lighten-1': lighten(#5e35b1, 5%),
		'base': #5e35b1,
		'darken-1': darken(#5e35b1, 5%),
		'darken-2': darken(#5e35b1, 10%),
		'darken-3': darken(#5e35b1, 15%),
		'darken-4': darken(#5e35b1, 20%),
		'accent-1': #ede7f6,
		'accent-2': #d1c4e9,
		'accent-3': #d1c4e9,
		'accent-4': #9575cd
);
$warning-color: (
		'lighten-5': lighten(#ffc107, 25%),
		'lighten-4': lighten(#ffc107, 20%),
		'lighten-3': lighten(#ffc107, 15%),
		'lighten-2': lighten(#ffc107, 10%),
		'lighten-1': lighten(#ffc107, 5%),
		'base': #ffc107,
		'darken-1': darken(#ffc107, 5%),
		'darken-2': darken(#ffc107, 10%),
		'darken-3': darken(#ffc107, 15%),
		'darken-4': darken(#ffc107, 20%),
		'accent-1': #fff8e1,
		'accent-2': #ffecb3,
		'accent-3': #fff8e1,
		'accent-4': #ffecb3
);
$danger-color: (
		'lighten-5': lighten(#ff5722, 25%),
		'lighten-4': lighten(#ff5722, 20%),
		'lighten-3': lighten(#ff5722, 15%),
		'lighten-2': lighten(#ff5722, 10%),
		'lighten-1': lighten(#ff5722, 5%),
		'base': #ff5722,
		'darken-1': darken(#ff5722, 5%),
		'darken-2': darken(#ff5722, 10%),
		'darken-3': darken(#ff5722, 15%),
		'darken-4': darken(#ff5722, 20%),
		'accent-1': #ffeef1,
		'accent-2': #ffd6db,
		'accent-3': #ffecee,
		'accent-4': #ffd3d7
);

$colors: (
		'black': $black-color,
		'dark': $dark-color,
		'light': $light-color,
		'primary': $primary-color,
		'secondary': $secondary-color,
		'success': $success-color,
		'info': $info-color,
		'warning': $warning-color,
		'danger': $danger-color
);
